header {
    height: 100px;
    border-bottom: 1px solid rgba(180, 180, 180, 0.55);
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1 {
        font-family: "Jubilat", "Times New Roman", serif;
        color: #dc0228;
        font-size: 4rem;
        margin-top: 0.6em;
        line-height: 0.94em;
        cursor: pointer;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        ul.nav-links {
            display: flex;
            list-style: none;
            width: 600px;
            justify-content: space-around;
            margin-top: 3.5em;
            li {
                height: 2.7em;
                a {
                    font-family: "Jubilat", "Times New Roman", serif;
                    text-decoration: none;
                    color: black;
                    font-size: 1.3em;
                    &:hover {
                        color: #ce0426;
                    }
                    fa-icon {
                        font-size: 0.8em;
                    }
                }
            }
            li.activeRoute {
                border-bottom: 2px solid #ce0426;
                a {
                    color: #ce0426;
                }
            }
        }
        div.burger {
            display: none;
            cursor: pointer;
            div {
                width: 36px;
                height: 5px;
                background-color: black;
                margin: 6px;
                transition: all 0.3s ease;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    header {
        h1 {
            font-size: 3rem;
            margin-top: 1em;
        }
        nav {
            ul.nav-links {
                width: 500px;
            }
        }
    }
}

@media only screen and (max-width: 860px) {
    header {
        h1 {
            margin-top: 0.5em;
        }
        nav {
            ul.nav-links {
                position: absolute;
                right: 0px;
                height: 90vh;
                margin-top: 0;
                top: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #f9f9f9;
                z-index: 1;
                width: 100%;
                transform: translateX(100%);
                transition: transform 0.5s ease-in;
                font-size: 1.5em;
                li {
                    opacity: 0;
                }
            }
            ul.nav-active {
                transform: translateX(0%);
            }
            div.burger {
                display: block;
                margin-top: 2em;
            }
            div.burgerActive {
                div.line1 {
                    transform: rotate(-45deg) translate(-8px, 11px);
                }
                div.line2 {
                    opacity: 0;
                }
                div.line3 {
                    transform: rotate(45deg) translate(-5px, -7px);
                }
            }
        }
    }
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform:translateX(50px)
    }
    to {
    opacity: 1;
    transform:translateX(0px)
    }
}